<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main>
    <form class="welcome add-offer-form" method="POST" action="/paintings">
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Add painting</span></h1>

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="name" class="h4 mb-2">Name</label>
            </div>
            <input type="text" class="form-control" id="name" name="name"/>
            <small class="danger" th:if="${#session.getAttribute('nameErr')}" th:text="${#session.getAttribute('nameErr')}"/>
        </div>

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="author" class="h4 mb-2">Author</label>
            </div>
            <input type="text" class="form-control" id="author" name="author"/>
            <small class="danger" th:if="${#session.getAttribute('authorErr')}" th:text="${#session.getAttribute('authorErr')}"/>
        </div>

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="imageUrl" class="h4 mb-2">Image URL</label>
            </div>
            <textarea type="text" class="form-control" id="imageUrl" name="imageUrl"></textarea>
            <small class="danger" th:if="${#session.getAttribute('imageUrlErr')}" th:text="${#session.getAttribute('imageUrlErr')}"/>
        </div>

        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="style" class="h4 mb-2">Style</label>
            </div>
            <select class="browser-default custom-select" id="style" name="style">
                <option th:disabled="disabled" th:selected="selected">Select style</option>
                <option th:each="s : ${styles}" th:label="${s.name}" th:value="${s.name}"></option>
            </select>

            <small class="danger" th:if="${#session.getAttribute('styleErr')}" th:text="${#session.getAttribute('styleErr')}"></small>
        </div>

        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-info  mb-3">Add painting</button>
        </div>

    </form>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
