<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>
    <form class="welcome add-offer-form" th:method="POST" th:action="@{/stamps/add-stamp}" th:object="${addStampDto}">
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Add stamp</span></h1>

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="name" class="h4 mb-2">Name</label>
            </div>
            <input type="text" class="form-control" id="name" name="name"/>
            <small class="bg-danger text-light rounded" th:if="${#fields.hasErrors('name')}" th:text="${#fields.detailedErrors('name').getFirst().getMessage()}"></small>
        </div>

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="description" class="h4 mb-2">Description</label>
            </div>
            <input type="text"  class="form-control" id="description" name="description"/>
            <small class="bg-danger text-light rounded" th:if="${#fields.hasErrors('description')}" th:text="${#fields.detailedErrors('description').getFirst().getMessage()}"></small>
        </div>

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="imageUrl" class="h4 mb-2">Image URL</label>
            </div>
            <textarea type="text" class="form-control" id="imageUrl" name="imageUrl"></textarea>
            <small class="bg-danger text-light rounded" th:if="${#fields.hasErrors('imageUrl')}" th:text="${#fields.detailedErrors('imageUrl').getFirst().getMessage()}"></small>
        </div>

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="price" class="h4 mb-2">Price</label>
            </div>
            <input type="number" class="form-control" id="price" name="price" step="1" min="0"/>
            <small class="bg-danger text-light rounded" th:if="${#fields.hasErrors('price')}" th:text="${#fields.detailedErrors('price').getFirst().getMessage()}"></small>
        </div>

        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="paperName" class="h4 mb-2">Paper</label>
            </div>
            <select class="browser-default custom-select" id="paperName" name="paperName">
                <option th:disabled="disabled" th:selected="selected">Select paper</option>
                <option th:each="paperName : ${paperNames}" th:value="${paperName}" th:text="${paperName.name()}"></option>
            </select>

            <small class="bg-danger text-light rounded" th:if="${#fields.hasErrors('paperName')}" th:text="${#fields.detailedErrors('paperName').getFirst().getMessage()}"></small>
        </div>

        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-info  mb-3">Add stamp</button>
        </div>

    </form>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>
